body{
    animation-name: colorChange;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes colorChange {
    0% { background-color:#ffd9d9; }
    33% { background-color:#e8e8ff; }
    67% { background-color:#deeeff; }
    100% { background-color:#bce6e6; }
}

img{
    position:absolute;
    width: 100vw;
    height: 100vh;

    top:0;
    left:0;

    mix-blend-mode: overlay;
}

.disk{
    position:absolute;
    left: 53%;
    top: 50%;

    width: 600px;
    height: 450px;

    margin-left: -300px;
    margin-top: -225px;

    transform-origin: 48% 48.5%;

    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.outline{
    stroke: black;
    stroke-width: 30px;
    fill:none;
}

@keyframes rotate {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

.shadow{
    position: absolute;
    left: 53%;
    top: 50%;

    width: 600px;
    height: 430px;

    margin-left: -347px;
    margin-top: -208px;
}

.tone-arm{
    stroke: black;
    stroke-width: 30px;

    width: 600px;
    height: 450px;

    position:absolute;
    left: 53%;
    top: 50%;

    margin-left: -348px;
    margin-top: -217px;
}

.other{
    width: 600px;
    height: 420px;

    margin-left: -353.5px;
    margin-top: -201px;

    transform: scale(1.02,1.1)

}

.sakura{
    width: 100px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 10%;
}

.sakura-fill{
    filter: drop-shadow(0 0 0.3rem #f0e0c7);
}

.sakura-shadow{
    fill: #f5b6ae;
}

.sakura-center{
    fill: none;
    stroke-width: 30px;
    stroke:white;
}

span{
    position:absolute;
    left: 53%;
    top: 50%;

    margin-left: -130px;
    margin-top: -129px;

    width: 240px;
    height: 240px;
    border-radius: 125px;
}